@font-face{
	font-family:"NBG";
	src:url('NanumBarunGothic.eot');
	src:url('NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
	url('NanumBarunGothic.woff2') format('woff2'),
	url('NanumBarunGothic.woff') format('woff'),
	url('NanumBarunGothic.ttf') format('truetype');
	src:local('?'), url('NanumBarunGothic.woff') format('woff');
}

@font-face{
	font-family:"NBGB";
	src:url('NanumBarunGothicBold.eot');
	src:url('NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
	url('NanumBarunGothicBold.woff2') format('woff2'),
	url('NanumBarunGothicBold.woff') format('woff'),
	url('NanumBarunGothicBold.ttf') format('truetype');
	src:local('?'), url('NanumBarunGothicBold.woff') format('woff');
}

@font-face{
	font-family:"NBGL";
	src:url('NanumBarunGothicLight.eot');
	src:url('NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
	url('NanumBarunGothicLight.woff2') format('woff2'),
	url('NanumBarunGothicLight.woff') format('woff'),
	url('NanumBarunGothicLight.ttf') format('truetype');
	src:local('?'), url('NanumBarunGothicLight.woff') format('woff');
}

@font-face{
	font-family:"MSRL";
	src:url('Montserrat-Light.eot');
	src:url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('Montserrat-Light.woff2') format('woff2'),
	url('Montserrat-Light.woff') format('woff'),
	url('Montserrat-Light.ttf') format('truetype');
	src:local('?'), url('Montserrat-Light.woff') format('woff');
}

@font-face{
	font-family:"MSRR";
	src:url('Montserrat-Regular.eot');
	src:url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('Montserrat-Regular.woff2') format('woff2'),
	url('Montserrat-Regular.woff') format('woff'),
	url('Montserrat-Regular.ttf') format('truetype');
	src:local('?'), url('Montserrat-Regular.woff') format('woff');
}

@font-face{
	font-family:"MSRM";
	src:url('Montserrat-Medium.eot');
	src:url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('Montserrat-Medium.woff2') format('woff2'),
	url('Montserrat-Medium.woff') format('woff'),
	url('Montserrat-Medium.ttf') format('truetype');
	src:local('?'), url('Montserrat-Medium.woff') format('woff');
}


@font-face{
	font-family:"MSRSB";
	src:url('Montserrat-SemiBold.eot');
	src:url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('Montserrat-SemiBold.woff2') format('woff2'),
	url('Montserrat-SemiBold.woff') format('woff'),
	url('Montserrat-SemiBold.ttf') format('truetype');
	src:local('?'), url('Montserrat-SemiBold.woff') format('woff');
}

@font-face{
	font-family:"MSRB";
	src:url('Montserrat-Bold.eot');
	src:url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('Montserrat-Bold.woff2') format('woff2'),
	url('Montserrat-Bold.woff') format('woff'),
	url('Montserrat-Bold.ttf') format('truetype');
	src:local('?'), url('Montserrat-Bold.woff') format('woff');
}

@font-face{
	font-family:"Jalnan";
	src:url('Jalnan.eot');
	src:url('Jalnan.eot?#iefix') format('embedded-opentype'),
	url('Jalnan.woff2') format('woff2'),
	url('Jalnan.woff') format('woff'),
	url('Jalnan.ttf') format('truetype');
	src:local('?'), url('Jalnan.woff') format('woff');
}
